In [1]:
import pandas as pd
cal = pd.read_csv('/data/linq/.qlib/qlib_data/cn_data/calendars/day.txt')
delta = 0
TODAY = str(cal.iloc[-1-delta,0])
YESTERDAY = str(cal.iloc[-2-delta,0])
# TODAY = str(cal.iloc[-2,0])
# YESTERDAY = str(cal.iloc[-3,0])

BT_START = '2024-10-15'

print(BT_START)
print(YESTERDAY)
print(TODAY)

2024-10-15
2025-04-21
2025-04-22

In [2]:
# BT_START = '2024-12-01'
# TODAY = '2024-12-09'

test_split = (TODAY, TODAY)
bt_split = (BT_START, YESTERDAY)
pos_txt = f'''\
date {TODAY}
cash 232940.00
SH600246 4100
SH600104 1700
SZ002991 300
SZ002697 3700
SZ002484 900
SZ002214 1800
SZ002068 1900
SZ001270 700
SZ000877 3800
SZ000429 1500
'''

In [3]:
import qlib 
import pandas as pd
from pandas import Timestamp
import json
from qlib.constant import REG_CN
from qlib.utils import exists_qlib_data, init_instance_by_config
from qlib.workflow import R
from qlib.workflow.record_temp import SignalRecord, PortAnaRecord
from qlib.utils import flatten_dict
from qlib.data.filter import NameDFilter
from qlib.backtest.position import Position
from qlib.data import D

import copy
import pprint
import warnings
warnings.filterwarnings('ignore')

provider_uri = "/data/linq/.qlib/qlib_data/cn_data"  # target_dir
qlib.init(provider_uri=provider_uri, region=REG_CN)

from lilab.qlib.utils.tools import normalize_position_history, load_position_text, load_position_history, save_position_history, fill_price_position_history
from lilab.qlib.backtest.benchmark import BENCH_Step

/home/linq/anaconda3/envs/qlib39/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

[580802:MainThread](2025-04-23 05:51:37,767) INFO - qlib.Initialization - [config.py:416] - default_conf: client.

[580802:MainThread](2025-04-23 05:51:37,771) INFO - qlib.Initialization - [__init__.py:74] - qlib successfully initialized based on client settings.

[580802:MainThread](2025-04-23 05:51:37,772) INFO - qlib.Initialization - [__init__.py:76] - data_path={'__DEFAULT_FREQ': PosixPath('/data/linq/.qlib/qlib_data/cn_data')}

In [4]:
import wk_db
import matplotlib
matplotlib.rcParams['font.family'] = ['Noto Sans CJK JP']

def add_info_df(df):
    stocks = df.index.values
    ilst = []
    for s in stocks:
        s = s[2:]+'.'+s[:2]
        df0 = wk_db.read_sql(f"SELECT sec_name, industry_name FROM a_share_market where windcode=='{s}' order by trade_dt;", db_loc='low_freq_db')
        df0 = pd.DataFrame(df0.iloc[-1,:]).T
        ilst.append(df0)
    df1 = pd.concat(ilst, axis=0)
    df1.index = df.index
    res = pd.concat([df1,df], axis=1)
    return res

Record position history

In [5]:
cur_pos = load_position_text(pos_txt)
norm_cur_pos = normalize_position_history(cur_pos)
norm_cur_pos = fill_price_position_history(norm_cur_pos)
try:
    pos_history = load_position_history()
except:
    pos_history = {}
pos_history.update(norm_cur_pos)
# print(pos_history)
save_position_history(pos_history)
dt, pos = next(iter(cur_pos.items()))
account = pos.position
dt, norm_pos = next(iter(norm_cur_pos.items()))
norm_account = pos.position
hold_lst = pos.get_stock_list()
print(dt.date())
print(account)
print(norm_pos)
print(hold_lst)

2025-04-22
{'SH600246': {'amount': 4100}, 'SH600104': {'amount': 1700}, 'SZ002991': {'amount': 300}, 'SZ002697': {'amount': 3700}, 'SZ002484': {'amount': 900}, 'SZ002214': {'amount': 1800}, 'SZ002068': {'amount': 1900}, 'SZ001270': {'amount': 700}, 'SZ000877': {'amount': 3800}, 'SZ000429': {'amount': 1500}, 'cash': 232940.0}
{'_settle_type': 'None', 'position': {'SH600246': {'amount': 28652, 'price': 0.752662181854248}, 'SH600104': {'amount': 19258, 'price': 1.348776936531067}, 'SZ002991': {'amount': 14955, 'price': 1.442251443862915}, 'SZ001270': {'amount': 11929, 'price': 1.9223676919937134}, 'SZ002214': {'amount': 11028, 'price': 1.258338451385498}, 'SZ002697': {'amount': 8835, 'price': 2.6257872581481934}, 'SZ002068': {'amount': 12699, 'price': 1.5051263570785522}, 'SZ000877': {'amount': 35198, 'price': 0.6056573390960693}, 'SZ000429': {'amount': 4567, 'price': 4.512790203094482}, 'SZ002484': {'amount': 4405, 'price': 3.613729953765869}, 'cash': 232940.0, 'now_account_value': 439016.5244204998}, 'init_cash': 232940.0}
['SH600246', 'SH600104', 'SZ002991', 'SZ001270', 'SZ002214', 'SZ002697', 'SZ002068', 'SZ000877', 'SZ000429', 'SZ002484']

In [6]:

pos_history = load_position_history()
hold_day = {}
_norm_pos = norm_pos.__dict__['position']
print(_norm_pos)
dt_lst = sorted(list(pos_history.keys()))[::-1]
for k, v in _norm_pos.items():
    if not isinstance(v, dict):
        continue
    cnt = 0
    for dt in dt_lst:
        if str(dt.date())==TODAY:
            # print(dt.date(), TODAY)
            continue
        tmp_pos = pos_history[dt]
        if k not in tmp_pos.get_stock_list():
            break
        cnt += 1
    # print(k, cnt)
    hold_day[k] = cnt
print(hold_day)

{'SH600246': {'amount': 28652, 'price': 0.752662181854248}, 'SH600104': {'amount': 19258, 'price': 1.348776936531067}, 'SZ002991': {'amount': 14955, 'price': 1.442251443862915}, 'SZ001270': {'amount': 11929, 'price': 1.9223676919937134}, 'SZ002214': {'amount': 11028, 'price': 1.258338451385498}, 'SZ002697': {'amount': 8835, 'price': 2.6257872581481934}, 'SZ002068': {'amount': 12699, 'price': 1.5051263570785522}, 'SZ000877': {'amount': 35198, 'price': 0.6056573390960693}, 'SZ000429': {'amount': 4567, 'price': 4.512790203094482}, 'SZ002484': {'amount': 4405, 'price': 3.613729953765869}, 'cash': 232940.0, 'now_account_value': 439016.5244204998}
{'SH600246': 34, 'SH600104': 39, 'SZ002991': 44, 'SZ001270': 35, 'SZ002214': 35, 'SZ002697': 33, 'SZ002068': 31, 'SZ000877': 47, 'SZ000429': 31, 'SZ002484': 33}

In [7]:
def simp_eval(res_df, k, t=None, day=None):
    # print(res_df)
    if day:
        date = str(cal.iloc[-day-1,0])
        res_df = res_df[res_df.index.get_level_values('datetime') >= date]
    # Step 1: Group by multiple indices
    grouped = res_df.groupby(['datetime'])

    # Step 2: Sort by 'value' within each group in descending order
    sorted_df = grouped.apply(lambda x: x.sort_values(by='score', ascending=False))
    sorted_df['win'] = sorted_df['label'] * sorted_df['score'] > 0
    # Step 3: Select the top 5 rows for each group
    # top_k_per_group = sorted_df.groupby(['datetime']).head(k)
    top_k_per_group = sorted_df.groupby(['datetime']).apply(lambda x: x.nlargest(k, 'score'))#.reset_index(level=1, drop=1)
    if t:
        # top_k_per_group = top_k_per_group.tail(t)
        top_k_per_group = top_k_per_group.groupby(['datetime']).apply(lambda x: x.nsmallest(t, 'score'))
    # print(top_k_per_group)
    top_k_ic = top_k_per_group['label'].corr(top_k_per_group['score'])
    s, n = top_k_per_group['win'].sum(), len(top_k_per_group)
    # print(s, n)
    top_k_win = 1.0 * top_k_per_group['win'].sum() / len(top_k_per_group)
    return top_k_ic, top_k_win 

def run_model(model, path='/home/linq/finance/qniverse/log'):
    res_df = pd.read_csv(f'{path}/{model}_backtest_return_{TODAY}.csv', index_col=['datetime','instrument'])

    def eval_day(day=None):
        top5ic, top5win = simp_eval(res_df, 5, day=day)
        top10ic, top10win = simp_eval(res_df, 10, 5, day=day)
        # top15ic, top15win = simp_eval(res_df, 15, 5, day=day)
        top20ic, top20win = simp_eval(res_df, 20, 10, day=day)
        # top25ic, top25win = simp_eval(res_df, 25, 5, day=day)
        top30ic, top30win = simp_eval(res_df, 30, 10, day=day)
        top40ic, top40win = simp_eval(res_df, 40, 10, day=day)
        top50ic, top50win = simp_eval(res_df, 50, 10, day=day)
        top60ic, top60win = simp_eval(res_df, 60, 10, day=day)
        top70ic, top70win = simp_eval(res_df, 70, 10, day=day)
        top80ic, top80win = simp_eval(res_df, 80, 10, day=day)        
        top90ic, top90win = simp_eval(res_df, 90, 10, day=day)
        top100ic, top100win = simp_eval(res_df, 100, 10, day=day)
        top110ic, top110win = simp_eval(res_df, 110, 10, day=day)
        top120ic, top120win = simp_eval(res_df, 120, 10, day=day)
        top130ic, top130win = simp_eval(res_df, 130, 10, day=day)
        top140ic, top140win = simp_eval(res_df, 140, 10, day=day)
        top150ic, top150win = simp_eval(res_df, 150, 10, day=day)
        topic, topwin = simp_eval(res_df, 50, day=day)
        # return [topic, topwin, top5ic, top5win, top10ic, top10win, top15ic, top15win, top20ic, top20win, top25ic, top25win, top30ic, top30win]
        return [topwin, top5win, top10win, top20win, top30win, top40win, top50win, top60win, top70win, top80win, top90win, top100win, top110win, top120win, top130win, top140win, top150win], [topic, top5ic, top10ic, top20ic, top30ic, top40ic, top50ic, top60ic, top70ic, top80ic, top90ic, top100ic, top110ic, top120ic, top130ic, top140ic, top150ic]
    day1metrics = eval_day(2)
    day5metrics = eval_day(6)
    day10metrics = eval_day(11)
    day20metrics = eval_day(21)
    
    pred_df = pd.read_csv(f'{path}/{model}_tomorrow_return_{TODAY}.csv', index_col=['datetime','instrument'])

    return day1metrics, day5metrics, day10metrics, day20metrics, pred_df, res_df

# Run

In [8]:
info_win_dict1, info_ic_dict1 = {}, {}
info_win_dict5, info_ic_dict5 = {}, {}
info_win_dict10, info_ic_dict10 = {}, {}
info_win_dict20, info_ic_dict20 = {}, {}
pred_lst = []

name_lst =  ['MENSEMBLE0', 'MENSEMBLE']

for model in name_lst:
    NAME = model
    print(model)
    day1metrics, day5metrics, day10metrics, day20metrics, pred_df, res_df = run_model(model)
    info_win_dict1[NAME], info_ic_dict1[NAME] = day1metrics
    info_win_dict5[NAME], info_ic_dict5[NAME] = day5metrics
    info_win_dict10[NAME], info_ic_dict10[NAME] = day10metrics
    info_win_dict20[NAME], info_ic_dict20[NAME] = day20metrics
    # for k in [1, 5, 10, 20]:
    #     eval(f'    info_win_dict{k}[NAME], info_ic_dict{k}[NAME] = day{k}metrics')
    _df = pred_df.loc[:,'score']
    _df.name = model
    # print(_df)
    pred_lst.append(_df)

MENSEMBLE0

MENSEMBLE

In [9]:
from matplotlib.colors import LinearSegmentedColormap

colors = ['green', 'white', 'red']
n_neg = 256 // 2
n_pos = 256 - n_neg
cmap = LinearSegmentedColormap.from_list('custom_red_green', colors, N=256)

In [10]:
pred_df = pd.concat(pred_lst, axis=1)
# pred_df
# # pred_df = pred_df.loc[:, ~pred_df.columns.duplicated()]
pred_df.columns = ['return 0', 'return 1']
_pred_df = pred_df 

pred_df['sum'] = _pred_df['return 0'] + _pred_df['return 1']
# pred_df['std'] = _pred_df.std(axis=1)

rank_df = pred_df.droplevel(0).sort_values(by='return 1', ascending=False)
fields = ['$close/$factor']
_df = D.features(rank_df.index.values, fields, start_time=TODAY, end_time=TODAY, freq='day')
# print(_df)
_df.columns = ['close']
_df = _df.droplevel(1)
rank_df = pd.concat([_df, rank_df],axis=1,join='inner')
report_top = rank_df
report_top = report_top.sort_values(by='return 1', ascending=False)


# hold_lst
pos_rank = rank_df.sort_values(by='return 1', ascending=True)
pos_rank = pos_rank[pos_rank.index.isin(hold_lst)]

hd = [hold_day[s] for s in pos_rank.index.values]
pos_rank['HD'] = hd
report_pos = pos_rank
report_pos = add_info_df(report_pos)
color_lst = ['return 0', 'return 1', 'sum']
# color_lst
raw_sty_report_pos = report_pos.style.background_gradient(cmap=cmap, vmin=-0.05, vmax=0.05, subset=color_lst, axis=None)
raw_sty_report_pos

In [11]:
df0 = report_top.head(50)
df0 = add_info_df(df0)
sty_report_top0 = df0.style.background_gradient(cmap=cmap, axis=None, vmin=-0.05, vmax=0.05, subset=color_lst)
# sty_report_top1 = report_top.head(20).tail(10).style.background_gradient(cmap=cmap, axis=0, subset=color_lst)
# sty_report_top2 = report_top.head(30).tail(10).style.background_gradient(cmap=cmap, axis=0, subset=color_lst)
# sty_report_top3 = report_top.head(40).tail(10).style.background_gradient(cmap=cmap, axis=0, subset=color_lst)
# sty_report_top4 = report_top.head(50).tail(10).style.background_gradient(cmap=cmap, axis=0, subset=color_lst)
# sty_report_top5 = report_top.head(60).tail(10).style.background_gradient(cmap=cmap, axis=0, subset=color_lst)
# sty_report_top6 = report_top.head(70).tail(10).style.background_gradient(cmap=cmap, axis=0, subset=color_lst)
# sty_report_top7 = report_top.head(80).tail(10).style.background_gradient(axis=0, subset=color_lst)
# sty_report_top8 = report_top.head(90).tail(10).style.background_gradient(axis=0, subset=color_lst)
# sty_report_top9 = report_top.head(100).tail(10).style.background_gradient(axis=0, subset=color_lst)
# sty_report_top10 = report_top.head(110).tail(10).style.background_gradient(axis=0, subset=color_lst)
# sty_report_top11 = report_top.head(120).tail(10).style.background_gradient(axis=0, subset=color_lst)
# sty_report_top12 = report_top.head(130).tail(10).style.background_gradient(axis=0, subset=color_lst)
# sty_report_top13 = report_top.head(140).tail(10).style.background_gradient(axis=0, subset=color_lst)
# sty_report_top14 = report_top.head(150).tail(10).style.background_gradient(axis=0, subset=color_lst)

In [12]:
sty_report_top0

In [13]:
import dataframe_image as dfi

infodf = pd.DataFrame({'label': ['Model update date', 'Prediction generation date'],
                       'date': ['2024-12-11', TODAY]})

dfi.export(infodf, './tmp/ensemble_private_all_info.png',table_conversion='matplotlib')

# dfi.export(sty_report_info5, './tmp/ensemble_private_all_performance5.png',table_conversion='matplotlib')
# dfi.export(sty_report_info10, './tmp/ensemble_private_all_performance10.png',table_conversion='matplotlib')
# dfi.export(sty_report_info20, './tmp/ensemble_private_all_performance20.png',table_conversion='matplotlib')
dfi.export(sty_report_top0, './tmp/ensemble_private_all_top0.png',table_conversion='matplotlib')
# dfi.export(sty_report_top1, './tmp/ensemble_private_all_top1.png',table_conversion='matplotlib')
# dfi.export(sty_report_top2, './tmp/ensemble_private_all_top2.png',table_conversion='matplotlib')
# dfi.export(sty_report_top3, './tmp/ensemble_private_all_top3.png',table_conversion='matplotlib')
# dfi.export(sty_report_top4, './tmp/ensemble_private_all_top4.png',table_conversion='matplotlib')
# dfi.export(sty_report_top5, './tmp/ensemble_private_all_top5.png',table_conversion='matplotlib')
# dfi.export(sty_report_top6, './tmp/ensemble_private_all_top6.png',table_conversion='matplotlib')
# dfi.export(sty_report_top7, './tmp/ensemble_private_all_top7.png',table_conversion='matplotlib')
# dfi.export(sty_report_top8, './tmp/ensemble_private_all_top8.png',table_conversion='matplotlib')
# dfi.export(sty_report_top9, './tmp/ensemble_private_all_top9.png',table_conversion='matplotlib')
# dfi.export(sty_report_top10, './tmp/ensemble_private_all_top10.png',table_conversion='matplotlib')
# dfi.export(sty_report_top11, './tmp/ensemble_private_all_top11.png',table_conversion='matplotlib')
# dfi.export(sty_report_top12, './tmp/ensemble_private_all_top12.png',table_conversion='matplotlib')
# dfi.export(sty_report_top13, './tmp/ensemble_private_all_top13.png',table_conversion='matplotlib')
# dfi.export(sty_report_top14, './tmp/ensemble_private_all_top14.png',table_conversion='matplotlib')
# dfi.export(sty_report_pos, './tmp/ensemble_private_all_watch.png',table_conversion='matplotlib')
dfi.export(raw_sty_report_pos, './tmp/ensemble_private_raw_all_watch.png',table_conversion='matplotlib')

In [14]:

for k in [1,5,10,20]:
    sty_report_win_info = eval(f"pd.DataFrame(info_win_dict{k}, index=['TOP50WIN', '0-5', '5-10', '10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100', '100-110', '110-120', '120-130', '130-140', '140-150'])").style.background_gradient(axis=None)
    sty_report_ic_info = eval(f"pd.DataFrame(info_ic_dict{k}, index=['TOP50IC', '0-5', '5-10', '10-20', '20-30', '30-40', '40-50', '50-60', '60-70', '70-80', '80-90', '90-100', '100-110', '110-120', '120-130', '130-140', '140-150'])").style.background_gradient(axis=None)
    dfi.export(sty_report_win_info, f'./tmp/ensemble_private_all_win{k}.png',table_conversion='matplotlib')
    dfi.export(sty_report_ic_info, f'./tmp/ensemble_private_all_ic{k}.png',table_conversion='matplotlib')

In [15]:
tot_invest = 238890

dt_lst = sorted(list(pos_history.keys()))
cash, sv, tot = [], [], []
for dt in dt_lst:
    pos: Position = pos_history[dt]
    cash.append(pos.get_cash())
    sv.append(pos.calculate_stock_value())
    tot.append(pos.calculate_value())
res = pd.DataFrame({'Total Value':cash}, index=[d.date() for d in dt_lst])
res['Balance'] = res['Total Value'] - res['Total Value'].shift(1) 
res['Return'] = res['Balance'] / res['Total Value'].shift(1) 
res['Tot Balance'] = res['Total Value'] - tot_invest
res['Tot Return'] = res['Tot Balance'] / tot_invest
res

            Total Value  Balance    Return  Tot Balance  Tot Return
2025-01-27     231890.0      NaN       NaN      -7000.0   -0.029302
2025-02-05     208683.0 -23207.0 -0.100078     -30207.0   -0.126447
2025-02-06     209094.0    411.0  0.001969     -29796.0   -0.124727
2025-02-07     213032.0   3938.0  0.018834     -25858.0   -0.108242
2025-02-10     217626.0   4594.0  0.021565     -21264.0   -0.089012
2025-02-11     216700.0   -926.0 -0.004255     -22190.0   -0.092888
2025-02-12     220518.0   3818.0  0.017619     -18372.0   -0.076906
2025-02-13     222893.0   2375.0  0.010770     -15997.0   -0.066964
2025-02-14     222809.0    -84.0 -0.000377     -16081.0   -0.067316
2025-02-17     222809.0      0.0  0.000000     -16081.0   -0.067316
2025-02-18     222017.0   -792.0 -0.003555     -16873.0   -0.070631
2025-02-19     221953.0    -64.0 -0.000288     -16937.0   -0.070899
2025-02-20     221953.0      0.0  0.000000     -16937.0   -0.070899
2025-02-21     221866.0    -87.0 -0.000392     -17024.0   -0.071263
2025-02-28     227813.0   5947.0  0.026804     -11077.0   -0.046369
2025-03-03     226279.0  -1534.0 -0.006734     -12611.0   -0.052790
2025-03-04     227905.0   1626.0  0.007186     -10985.0   -0.045984
2025-03-05     227680.0   -225.0 -0.000987     -11210.0   -0.046925
2025-03-06     227680.0      0.0  0.000000     -11210.0   -0.046925
2025-03-07     232940.0   5260.0  0.023103      -5950.0   -0.024907
2025-03-10     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-11     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-12     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-13     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-14     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-17     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-18     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-19     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-20     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-21     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-24     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-25     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-26     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-27     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-28     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-03-31     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-01     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-02     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-03     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-07     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-08     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-09     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-10     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-11     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-14     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-15     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-16     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-17     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-18     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-21     232940.0      0.0  0.000000      -5950.0   -0.024907
2025-04-22     232940.0      0.0  0.000000      -5950.0   -0.024907

In [16]:
dfi.export(res, './tmp/private_account.png',table_conversion='matplotlib')

In [17]:
infodf = pd.DataFrame({'label': ['Update date', 'Backtest start date'],
                    'value': [TODAY, BT_START]})

dfi.export(infodf, f'./tmp/summary_info.png',table_conversion='matplotlib')